@model StudentDashboard.Models.Entities.Student

<form id="studentForm">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">First Name:</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter first name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Lastname" class="form-label">Last Name:</label>
        <input asp-for="Lastname" type="text" class="form-control" placeholder="Enter last name" required />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email Address:</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="example@domain.com" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label">Date of Birth:</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" required />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>


    <div id="alertContainer"></div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success btn-lg">Register Student</button>
    </div>
</form>